@use '../abstracts/colors' as *;

@keyframes fade_in {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
    }
    75% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
        color: $beige-200;
    }
    50% {
        transform: rotate(180deg) scale(1.2);
        color: $beige-400;
    }
    100% {
        transform: rotate(0deg) scale(1);
        color: $beige-200;
    }
}